html {
  position: relative;
}
body,
.body {
  background: #2d2d2d;
  white-space: nowrap;
  margin-top: 10px;
  padding: 1em;
  color: #fff;
}
hr {
  height: 2px;
  background-color: #555;
  border: none;
}
#seed {
  width: 98%;
  color: #fff;
  border: 1px solid #555;
  margin-top: 10px;
  background: #2d2d2d;
}
#input {
  color: #fff;
  background: #2d2d2d;
  z-index: 1;
  text-align: left;
  width: 98%;
  height: 200px;
  border: 1px solid #555;
}
#input::placeholder,
#negativePrompt::placeholder,
#seed::placeholder,
#inputApi::placeholder,
#inputSearch::placeholder {
  color: #fff;
  opacity: 0.5;
}
#inputSearch {
  border: 1px #555 solid;
}
#btn-generate {
  width: 100%;
}
#deleteAll {
  opacity: 0.5;
  position: absolute;
  z-index: 100;
  margin-top: 8px;
  right: 2em;
  padding: 4px;
}
#deleteAll:hover {
  opacity: 1;
}
.resultImg {
  padding: 10px;
  border: 1px #555 solid;
}
#errorMsg {
  color: #fbac0b;
  font-style: oblique;
  font-size: 14px;
  word-break: break-all;
  word-break: normal;
  white-space: normal;
}
.seedSlider,
.inferenceSlider,
.guidanceSlider {
  width: 80%;
  --webkit-appearance: none;
  accent-color: #519bdb;
}
.resultText {
  position: absolute;

  z-index: 100;
}
.form-adv {
  background: #2d2d2d;
  color: #fff;

  width: 95%;
  height: 2em;
  padding: 5px;
}
.label-adv {
  opacity: 0.7;
}
a,
a:visited {
  font-style: oblique;
  color: #999;
}
.helper {
  display: inline;
}
.slogan {
  color: #999;
  font-size: 15px;
  font-style: oblique;
}
.status {
  margin-left: 1em;
  font-weight: 600;
  font-size: 25px;
}

@media (orientation: landscape) {
  body {
    padding: 0 5em 0 5em;
  }

  #deleteAll {
    right: 7em;
  }
}

#apikey {
  font-size: 10px;
  opacity: 0.5;
}
#showApi {
  font-size: 12px;
  opacity: 0.5;
  color: #fff;
  transform: translatey(-5px);
}
.login {
  margin: 5px;
}

#modelInput,
#modelSelect,
#negativePrompt,
#negativeSelect,
#schedulerSelect {
  border: 1px solid #555;
}
.list-group-item {
  border: solid 1px #555;
  overflow-x: scroll;
}
